@charset "utf-8";

div {
    box-sizing: border-box;
    border: 1px solid red; 
    
  }

.wrap {
    width: 100%;
    height: 100%;
  
}

/* 상단바 */
#Nav{
    display: flex;
    justify-content: flex-start;
   
}
/* 상단바 버튼들 */
.Nav_Content{
    color: white;
    margin-left: 10%;
}
/*메인 컨텐츠 창*/
.Main_Content{
    padding: 24px;
    height : 900px;
    flex-direction: row;
}


/*필수 컨텐츠 칸나누기*/
.Essential_Age{
    display: flex;
    width: 100%;
    
   
}
.Life_Symptom_Up{
  display: flex;
  width: 100%;
  justify-content: space-between;
  
}
.Life_Symptom_Down{
  display : flex;
  width: 100%;
  justify-content: space-between;
}
.Life_Symptom{
  border-radius: 6px;
  width: 100%;
}

/*부제목 컨텐츠 상단 간격*/
.Essential_Content, .Unessential_Int_Content, .Unessential_Float_Content{
    margin-top: 16px;
}
/**/

#User_Age, #User_Gender, #User_Diseace, #User_Visit,#User_Symptom #User_Symptom, #User_Emergencybus {text-align: right; padding-right: 24px;}
.Essential_Age{position: relative; overflow: hidden;}
.Unessential_Left {display:flex; flex: 140px; min-width: 140px; white-space: no-wrap;}
.Unessential_Left ~ input{display:flex; flex: calc(100% - 140px);}
.Unessential_Left ~ input{text-indent: 8px; height: 28px; line-height: 28px; border-radius: 4px; border-color: #cecece; margin-top: 8px; border-style: solid; border-width: 1px; margin-right: 4px;}
.Unessential_Left ~ input::placeholder{font-size: 12px; color: red;}
.Essential_Age span{position: relative; height: 20px; font-size: 12px; opacity: 0.8; top: 16px;}

/*필수 컨텐츠 왼쪽(제목)*/
.Essential_Left, .Unessential_Left{
  padding: 0 8px;
    width: 20%;
    background-color: #8fb0c6;
    color: white;
    margin-right: 5%;
}

.Essential_Content_left{
  width: 55%;
  border: 1px solid blue;
  min-width: 140px; 
  white-space: no-wrap;
}

.Essential_Content_Right{
  width: 45%;
  
}

.Essential_Content{
  width: 100%;
  display: flex;
  flex-direction: row;
}
.Unessential_Int_Content{
  display: flex;
  flex-wrap: wrap;
  height: 40%;
  
}


/* 모달 */
.Modal_Black_Bg{
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0,0,0,0.5);
  z-index: -1;
  padding: 30px;
  visibility: hidden;
  opacity: 0;
  transition: all 1s;
}

.Modal_White_Bg{
  background: white;
  border-radius: 5px;
  visibility: visible;
  opacity: 1;
  padding: 30px;
}

.Open_Modal{
  visibility: visible;
  opacity: 1;
  z-index: 5;
}

.Close_Modal{
  visibility: hidden;
  opacity: 1;
}
.Modal_Wrap{
  padding: 10%;
}






/*토글 css */
label {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
  }
  
  [type="checkbox"] {
    appearance: none;
    position: relative;
    border: max(2px, 0.1em) solid gray;
    border-radius: 1.25em;
    width: 2.25em;
    height: 1.25em;
  }
  
  [type="checkbox"]::before {
    content: "";
    position: absolute;
    left: 0;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    transform: scale(0.8);
    background-color: gray;
    transition: left 250ms linear;
  }
  
  [type="checkbox"]:checked {
    background-color: tomato;
    border-color: tomato;
  }
  
  [type="checkbox"]:checked::before {
    background-color: white;
    left: 1em;
  }
  
  [type="checkbox"]:disabled {
    border-color: lightgray;
    opacity: 0.7;
    cursor: not-allowed;
  }
  
  [type="checkbox"]:disabled:before {
    background-color: lightgray;
  }
  
  [type="checkbox"]:disabled + span {
    opacity: 0.7;
    cursor: not-allowed;
  }
  
  [type="checkbox"]:focus-visible {
    outline-offset: max(2px, 0.1em);
    outline: max(2px, 0.1em) solid tomato;
  }
  
  [type="checkbox"]:enabled:hover {
    box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
  }
  
  /* Global CSS */


  /* media query */
  @media (max-width: 720px) {
    .Essential_Content {
      flex-direction: column;
    }
    /* .Essential_Age{
      flex-direction: column;
    } */
    .Essential_Content_left{
      width: 100%;
    }
    .Essential_Content_Right{
      width: 100%;
    }
  }

  #colorRange{
    accent-color: red;
  }

  .form_radio_btn {
    width: 47%;
    height : 45px;
      border: 1px solid #EAE7E7;
      border-radius: 10px;
  }
  .form_radio_btn input[type=radio] {
    display: none;
  }
  .form_radio_btn label {
    display: block;
      border-radius: 10px;
       margin: 0 auto;
      text-align: center;
      height: -webkit-fill-available;
      line-height: 45px;
  }
   
  /* Checked */
  .form_radio_btn input[type=radio]:checked + label {
    background: #184DA0;
    color: #fff;
  }
   
  /* Hover */
  .form_radio_btn label:hover {
    color: #666;
  }
   
  /* Disabled */
  .form_radio_btn input[type=radio] + label {
    background: #F9FAFC;
    color: #666;
  }