/* 모달 */

.form_radio_btn {
  width: 47%;
  height: 45px;
  border: 1px solid #eae7e7;
  border-radius: 10px;
}
.form_radio_btn input[type="radio"] {
  display: none;
}
.form_radio_btn label {
  display: block;
  border-radius: 10px;
  margin: 0 auto;
  text-align: center;
  height: -webkit-fill-available;
  line-height: 45px;
}

/* Checked */
.form_radio_btn input[type="radio"]:checked + label {
  background: var(--Custom_color_2);
  color: #fff;
}

/* Hover */
.form_radio_btn label:hover {
  color: #666;
}

/* Disabled */
.form_radio_btn input[type="radio"] + label {
  background: #f9fafc;
  color: #666;
}

/*기본 설정*/
html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  font-family: "Noto Sans KR", sans-serif;
}
input[type="text"] {
  cursor: text;
  user-select: text;
}
button {
  cursor: pointer;
}
button * {
  cursor: pointer;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  border: none;
  max-width: 100%;
}
ol,
ul {
  list-style-type: none;
}
table {
  border-collapse: collapse;
  table-layout: fixed;
}
fieldset {
  border: none;
}
legend,
caption {
  text-indent: -99999px;
  display: none;
}
address {
  font-style: normal;
}
html,
body,
div,
span,
p,
a,
del,
em,
img,
ol,
ul,
li,
fieldset,
form,
label {
  border: 0;
  vertical-align: baseline;
}
strong {
  font-weight: normal;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
i.i {
  font: normal normal normal 14px/1 FontAwesome !important;
}

/*컬러 설정*/
/* 사용방법 : var(설정한 컬러코드) */
:root {
  /* 메인 색상 설정*/
  --Custom_color_1: #36622b;
  --Custom_color_2: #729d39;
  --Custom_color_3: #c6e377;
  --Custom_color_4: #fbfad3;

  /* 기본 색상 설정*/
  --Red_Color: #ec2e2e;
  --Orange_Color: #f89b00;
  --Yellow_Color: #f5cb56;
  --Green_Color: #007b17;
  --Blue_Color: #00498c;

  --Black_Color_1: #2a2a2a;
  --Black_Color_2: #353535;

  --Gray_Color_1: #3d3d3d;
  --Gray_Color_2: #515151;

  --White_Color_1: #f5f5f5;
  --White_Color_2: #eaeaea;
}

/*크롬 테두리 삭제*/
*:focus {
  outline: none;
}
gridster-item:not(.gridster-item-moving) {
  z-index: 0 !important;
}
gridster-preview {
  width: 0px !important;
  height: 0px !important;
}

/*스크롤 디자인*/
body {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  -webkit-box-shadow: inset 0 0 10px var(--Black_Color_1);
  height: 8px;
  width: 8px;
}
::-webkit-scrollbar-track {
  background: none;
}
::-webkit-scrollbar-corner {
  background: none;
}
::-webkit-resizer {
  background: none;
}
::-webkit-scrollbar-thumb {
  background-color: var(--Black_Color_1);
  border-radius: 10px;
}

/*메인 네비*/
.Main_Nav {
  position: relative;
  width: 64px;
  height: auto;
  background: var(--Custom_color_1);
  line-height: 55px;
  text-align: center;
}
.Main_Nav_Logo {
  flex-grow: 0;
  max-width: 100px;
  /* background: var(--Custom_color_2); */
  color: white;
}
.Main_Nav_Menu {
  flex-grow: 2;
}

/* modal */

.Modal_Black_Bg {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
  padding: 8px;
  visibility: hidden;
  opacity: 0;
  transition: all 1s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Modal_White_Bg {
  background: white;
  border-radius: 5px;
  visibility: visible;
  opacity: 1;
  /* padding: 8px; */
  width: 50%;
  height: 68vh;
  display: flex;
  flex-direction: column;
}

.Open_Modal {
  visibility: visible;
  opacity: 1;
  z-index: 5;
}

.Close_Modal {
  visibility: hidden;
  opacity: 1;
}
/* .Modal_Wrap {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  padding: 16px;
} */
#Modal_Wrap_Up {
  display: flex;
  width: 100%;
  height: 50px;
  margin-bottom: 32px;
  align-items: center;

}
.Modal_Wrap_Up_Content_1 {
  width: 50%;
  background-color: var(--Custom_color_2);
  color: var(--White_Color_1);
  border-radius: 5px;
  text-align: center;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.Modal_Wrap_Up_Content_2 {
  width: 50%;
  background-color: var(--Custom_color_3);
  color: var(--White_Color_1);
  border-radius: 5px;
  text-align: center;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Modal_Wrap_Down {
  display: flex;
  flex-direction: column;
  height: calc(100vh / 2);
}
.Modal_Wrap_Up_Wrap {
  width: 100%;
}
.Modal_Wrap_Down_Wrap {
  display: flex;
}
/* .Modal_Wrap_Down_Content {
  width: 60%;
  margin-top: 16px;
  background-color: var(--White_Color_2);
  display: flex;
  align-items: center;
  box-shadow: 0.1px 0.2px 0.1px 0.2px inset;
  padding: 16px;
  margin-left: 8px;
} */
.Modal_Wrap_Down_Content_Element {
  width: 40%;
  border-radius: 4px;
  height: 100px;
  margin-top: 16px;
  background-color: var(--Custom_color_4);
  display: flex;
  align-items: center;
  padding: 16px;
  box-shadow: 0.1px 0.2px 0.1px 0.2px inset;
}

#Modal_Close{
	width: 64px;
	background-color: var(--Custom_color_2);
	color: var(--White_Color_1);
	border-radius: 4px;
	box-shadow: 0.1px 0.2px 0.1px 0.2px inset;
}

/*Main_Panel*/
.Main_Panel {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: 1200px;
  height: 100vh;
  background: var(--White_Color_1);
  overflow: auto;
}
/* 오른쪽 (수축기혈압, 이완기 혈압, 맥박수) */
.Main_Panel_InputBox_Right_First {
  position: relative;
  width: auto;
  margin: 16px 16px 8px 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0px 1px 1px #ccc;
  background: #fff;
  height: auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* 오른쪽 (호흡수, 산소포화도, 체온) */
.Main_Panel_InputBox_Right_Second {
	position: relative;
	width: auto;
	margin: 8px 16px 8px 8px;
	border: 1px solid #ddd;
	border-radius: 4px;
	box-shadow: 0px 1px 1px #ccc;
	background: #fff;
	height: auto;
	padding: 16px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
  }

  /* 오른쪽 (의식상태 ) */
  .Main_Panel_InputBox_Right_Third {
	position: relative;
	width: auto;
	margin: 8px 16px 16px 8px;
	border: 1px solid #ddd;
	border-radius: 4px;
	box-shadow: 0px 1px 1px #ccc;
	background: #fff;
	height: auto;
	padding: 16px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
  }

.Main_Panel_Input {
  flex-grow: 1; /*width: calc(100% / 4);*/
  height: 75px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-items: center;
  position: relative;
}
.title {
  display: inline-block;
  width: 100px;
  text-align: right;
  padding-right: 16px;
  font-weight: 400;
  letter-spacing: 0.1px;
  border-right: 1px solid #ccc;
}
/* .Main_Panel_Input input, select{border: none; border: 1px solid #ccc; margin-left: 8px; margin-right: 8px; height: 26px; line-height: 26px; border-radius: 4px; margin-left: 16px; font-size: 10px; width: calc(100% - 100px - 36px)} */
.Main_Panel_Input select {
  border: none;
  text-align: left;
  border: 1px solid #ccc;
  height: 26px;
  line-height: 26px;
  border-radius: 4px;
  font-size: 10px;
  width: calc(100% - 100px - 10px);
  margin-left: 10px;
  padding-right: 40px;
}
/* .Main_Panel_Input input {border: none; text-align: right; border: 1px solid #ccc; padding: 0px 32px 0px 0px;  margin-left: 8px; margin-right: 8px; height: 26px; line-height: 26px; border-radius: 4px; margin-left: 16px; font-size: 10px; width: calc(100% - 100px - 36px)} */
.Main_Panel_Input input {
  border: none;
  text-align: right;
  border: 1px solid #ccc;
  height: 26px;
  line-height: 26px;
  border-radius: 4px;
  font-size: 10px;
  width: calc(100% - 100px - 10px);
  margin-left: 10px;
  padding-right: 40px;
}
/* 왼쪽 기본정보 box 기본정보 (나이, 성별, 발병일 ,내원일) */
.Main_Panel_InputBox_left_First {
  position: relative;
  width: calc(100% - 24px);
  margin: 16px 8px 8px 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0px 1px 1px #ccc;
  background: #fff;
  height: 50%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* 왼쪽 (구급차 여부, 중독 여부, CPR여부 , 주증상) */
.Main_Panel_InputBox_left_Second {
	position: relative;
	width: calc(100% - 24px);
	margin: 8px 8px 16px 16px;
	border: 1px solid #ddd;
	border-radius: 4px;
	box-shadow: 0px 1px 1px #ccc;
	background: #fff;
	height: 50%;
	padding: 16px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
  }

.tip {
  position: absolute;
  top: 15px;
  left: 4px;
  font-size: 10px;
  opacity: 0.7;
  width: 100%;
  margin-right: 16px;
  color: var(--Red_Color);
  font-weight: 700;
  text-align: left;
}
.setAgeMessage {
  position: relative;
  bottom: 6px;
  font-weight: 700;
  opacity: 0.7;
  font-size: 10px;
  line-height: 0.5px;
}

/* 단위 */
.unit {
  position: absolute;
  font-size: 10px;
  opacity: 1;
  width: 24px;
  margin-right: 8px;
  right: 20px;
  color: var(--Black_Color_1);
}
.unit_Age {
  position: absolute;
  font-size: 10px;
  opacity: 1;
  width: 10px;
  margin-right: 8px;
  right: 20px;
  color: var(--Black_Color_1);
}

/* 유효성 검사 탈부착 색상 */
.Valid_Green {
  position: absolute;
  bottom: 8px;
  left: 124px;
  font-weight: 700;
  opacity: 0.7;
  font-size: 10px;
  line-height: 0.5px;
  color: green;
}
.Valid_Red {
  position: absolute;
  bottom: 8px;
  left: 124px;
  font-weight: 700;
  opacity: 0.7;
  font-size: 10px;
  line-height: 0.5px;
  color: red;
}

/*radio_*/
/* .radio_wrap{display: flex; flex-grow: 1; width: calc(100% / 4); height: 75px; flex-wrap: wrap; display: flex; flex-direction: row; justify-content: center; align-items: center; justify-items: center; position: relative;} */
.radio_wrap {
  display: flex;
  flex-grow: 1;
  height: 75px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  position: relative;
  width: calc(100% - 100px - 10px);
  margin-left: 10px;
}
/* .form_radio_btn {
  			width: 47%;
    		height : auto;
      		border-radius: 10px;
			border: transparent;
  		} */
.form_radio_btn {
  width: 50%;
  height: auto;
  border-radius: 10px;
  border: transparent;
  width: calc(50% - 5px);
}
.form_radio_btn input[type="radio"] {
  display: none;
}
.form_radio_btn label {
  display: block;
  border-radius: 10px;
  margin: 10px auto;
  text-align: center;
  height: -webkit-fill-available;
  line-height: 30px;
  border: 1px solid #ccc;
}

/* Checked */
.form_radio_btn input[type="radio"]:checked + label + {
  background: var(--Custom_color_2);
  color: #fff;
}

/* Hover */
.form_radio_btn label:hover {
  color: #666;
}

/* Disabled */
.form_radio_btn input[type="radio"] + label {
  background: #f9fafc;
  color: #666;
}

/* 의식상태 input */

/* 제출 버튼 */
.SummitBtn {
  position: relative;
  width: 100%;
  /* margin: 0 16px; */
  height: 55px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: var(--Custom_color_1);
  color: var(--White_Color_1);
  font-weight: 700;
  transition: 0.3s;
}
.SummitBtn:hover {
  background-color: var(--Custom_color_1);
}

/* range 색상 변경 */
.Range_Color_0 {
  accent-color: var(--Green_Color);
}
.Range_Color_1 {
  accent-color: var(--Blue_Color);
}
.Range_Color_2 {
  accent-color: var(--Orange_Color);
}
.Range_Color_3 {
  accent-color: var(--Red_Color);
}
/* Range_Message 글자 색상변경 및 글자굵게  */
.Range_Message_Color_0 {
  color: var(--Green_Color);
  font-weight: bold;
}
.Range_Message_Color_1 {
  color: var(--Blue_Color);
  font-weight: bold;
}
.Range_Message_Color_2 {
  color: var(--Orange_Color);
  font-weight: bold;
}
.Range_Message_Color_3 {
  color: var(--Red_Color);
  font-weight: bold;
}

/* 햄버거 버튼 */
#Hamberger_Icon {
  font-size: 42px;
  box-shadow: 0.1px 0.1px 0.2px 0.2px;
  color: white;
}

/* 전체적 레이아웃 수정  */
#test1 {
  display: flex;
  flex-direction: row;
}

#test2 {
  display: flex;
  flex-direction: column;
  width: 40%;
}

#test3 {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* box-sizing: border-box; */
}

#test23 {
  width: 900px;

  display: flex;
  flex-direction: column;
  /* box-sizing: border-box; */
}

#test5 {
  display: flex;
  /* box-sizing: border-box; */
}

#Logo{
	width: 100%;
	padding: 8px;
	
}

#Modal_Hospital{
	color: black;
}


/* 닫기 */
/* .close {
	width: 50px;
	height: 50px;
	opacity: 0.8;
  }
  
  .close:before, .close:after {
	position: absolute;
	right: 8px;
	content: ' ';
	height: 20px;
	width: 2px;
	background-color: #000;
  }
  .close:before {
	transform: rotate(45deg);
  }
  .close:after {
	transform: rotate(-45deg);
  } */

  /* Modal 새롭게 리메이크 */
  .Modal_Header{
	width: 100%;
	height: 50px;
	border: 1px solid red;
	display: flex;
	align-items: center;
  }
  .Modal_Wrap{
	width: 100%;
	height: 100%;
	border: 1px solid blue;
	display: flex;
	flex-direction: column;
  }
  .Modal_Wrap_Up{
	display: flex;
	flex-direction: column;
	border: 1px solid yellow;
	width: 100%;
	height: 50%;
  }
  .Modal_Wrap_Down{
	display: flex;
	flex-direction: column;
	height: 50%;
	width: 100%;
  }
  .Modal_Wrap_Up_Content{
	border : 1px solid purple;
	display: flex;
  }
  .Modal_Wrap_Down_Content{
	border : 1px solid yellowgreen;
	display: flex;
  }

  .Modal_Header_Logo{
	border: 1px solid black;
	flex-grow: 1;
  }
  .Modal_Header_Title{
	border: 1px solid black;
	flex-grow: 9;
  }

  .Modal_Wrap_Up_Content_Title{
	width: 50%;
  }
  .Modal_Wrap_Down_Content_Title{
	width: 50%;
  }
  