.example-spacer {
  flex: 1 1 auto;
  background-color: #c4c4c4;
}


.Detial_Hero{
  margin-left: 32px;
}


/* button */
section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

button:hover {
  background-color: pink;
  color: white;
}

.mat-mdc-card {
  position: relative;
  margin: 0.5em;
}

.Change_Btn {
  background-color: #916400;
  color: #FFC107;
}
.Change_Btn:hover{
  background-color: #FFC107;
  color:  #916400;
}
.Card_Content{
  margin-top: 8px;
}

