.example-icon {
    padding: 0 14px;
   
  }
  .example-spacer {
    flex: 1 1 auto;
    
  }
  
  .Hero_toolbar{
    background-color: #EE1D52;
    height: 50px;
  }
  .toolbar_Tittle{
    font-weight: 600;
  }
